body{
	font: 12px Verdana, Tahoma, Arial normal;
	color: #333;
	line-height:1.6em;
}

a{
	color:#696969;
}

a:hover{
	color:#000;
	font-weight:bold;
}

#content{
	width:960px;
	margin:0 auto;
	padding: 15px;
}

#header{
	width:95%;
	margin:0 auto 15px auto;
	text-align:center;
	color:#333;
	background:#EFEFEF;
	padding:5px;
	border-radius:8px;
}

#top_links ul li{
    display:inline;
    margin-right:10px;
    padding-left: 20px;
}

#top_links ul li.icon{
    padding-left: 20px;
}

.description{
	*margin-left:0
}

.description img{
	float:left;
	height: 160px;
	margin-top:-5px;
	margin-right: 20px;
	border:3px solid #EEE;
	background:#FFF;
	padding:2px;
}

.description div.text{
	width:75%;
	text-align:justify;
	text-indent:20px;
	line-height:2em;
	border:3px solid #EEE;
	border-radius: 8px;
	min-height:160px;
}

#content .text{
	padding:8px 5px 5px 15px;
	margin:5px 0 15px 30px;
	text-align:justify;
}

.text ul{
	line-height:2em;
}

.text p{
	text-indent: 25px;
}

.text h2, .text h3{
	border-bottom:2px solid #CCC;
	letter-spacing:1.5px;
}

.text h4{
	border-bottom:2px solid #CCC;
	letter-spacing:1.5px;
	float:left;
	margin-left:25px;
}

.text p{
	line-height:1.8em;
}

/*** icons classes ***/

.icon_facebook{
    background: url("../imgs/icons/Facebook.png") 0px 3px no-repeat transparent;
}

.icon_twitter{
    background: url("../imgs/icons/Twitter.png") 0px 3px no-repeat transparent;
}

/*** icons classes ***/

/*** other classes ***/
.clear{
	clear:both;
}
.floatLeft{
    float:left;
}
.floatRight{
    float:right;
}
/*** other classes ***/
